[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
C=AE
ST=Dubai
L=Dubai
O=EshopMicroservices
CN=discount.grpc

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = discount.grpc
DNS.2 = localhost
DNS.3 = discount
DNS.4 = discount-grpc
