version: '3.4'

services:
  catalogdb:
    container_name: catalogdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=CatalogDb
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_catalog:/var/lib/postgresql

  basketdb:
    container_name: basketdb
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=BasketDb
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - postgres_basket:/var/lib/postgresql

  distributedcache:
    container_name: distributedcache
    restart: always
    ports:
      - "6379:6379"

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    depends_on:
      - distributedcache

  orderdb:
    container_name: orderdb
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=SwN@12345678
    restart: always
    ports:
      - "1433:1433"
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'SwN@12345678' -Q 'SELECT 1' -C || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 20

  messagebroker:
    container_name: messagebroker
    hostname: ecommerce-mq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  catalog.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      #- ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=catalogdb;Port=5432;Database=CatalogDb;User Id=postgres;Password=postgres;Include Error Detail=true
      - "ElasticConfiguration:Uri=http://elasticsearch:9200"
    depends_on:
      - catalogdb
    ports:
      - "6000:8080"
      #- "6060:8081"
    #volumes:
      #- ~/.aspnet/https:/https:ro
      #- ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro # for windows

  basket.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      #- ASPNETCORE_HTTPS_PORTS=8081
      #- ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      #- ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ConnectionStrings__Database=Server=basketdb;Port=5432;Database=BasketDb;User Id=postgres;Password=postgres;Include Error Detail=true
      - ConnectionStrings__Redis=distributedcache:6379
      - GrpcSettings__DiscountUrl=https://discount.grpc:8081
      - MessageBroker__Host=amqp://ecommerce-mq:5672
      - MessageBroker__UserName=guest
      - MessageBroker__Password=guest
      - "Elastic__Uri=http://elasticsearch:9200"
    depends_on:
      - basketdb
      - distributedcache
      - discount.grpc
    ports:
      - "6001:8080"
      #- "6061:8081"
    #volumes:
      #- ~/.aspnet/https:/https:ro #for Mac
      #- ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro # for windows
      #- D:\software\.NET\micro services\EshopMicroservices\src\certs\basket:/https:ro
      #- ./certs/ca/devCA.crt:/usr/local/share/ca-certificates/eshop-ca.crt:ro

  discount.grpc:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/discount.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=pass1234
      - ConnectionStrings__Database=Data Source=discountdb
      - "Elastic__Uri=http://elasticsearch:9200"
    ports:
      - "6002:8080"
      - "6062:8081"
    volumes:
      #- ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro # for windows
      - ./certs/discount:/https:ro
      #- ~/.aspnet/https:/https:ro
      #- ./certs/ca/devCA.crt:/usr/local/share/ca-certificates/eshop-ca.crt:ro

  ordering.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      #- ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__Database=Server=orderdb,1433;Database=OrderDb;User Id=sa;Password=SwN@12345678;Encrypt=False;TrustServerCertificate=True
      - MessageBroker__Host=amqp://ecommerce-mq:5672
      - MessageBroker__UserName=guest
      - MessageBroker__Password=guest
      - FeatureManagement__OrderFullfilment=false
      - "Elastic__Uri=http://elasticsearch:9200"
    depends_on:
      orderdb:
        condition: service_healthy
      messagebroker:
        condition: service_started
    restart: always
    ports:
      - "6003:8080"
      #- "6063:8081"
    #volumes:
      #- ~/.aspnet/https:/https:ro

  yarpapigateway:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/yarpapigateway.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=pass1234
      - "Elastic__Uri=http://elasticsearch:9200"
    depends_on:
      - catalog.api
      - basket.api
      - ordering.api
    ports:
      - "6004:8080"
      - "6064:8081"
    volumes:
      - ~/.aspnet/https:/https:ro

  elasticsearch:
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

  kibana:
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"

  shopping.web:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ApiSettings__GatewayAddress=http://yarpapigateway:8080
      - "Elastic__Uri=http://elasticsearch:9200"
    depends_on:
      - yarpapigateway
    ports:
      - "6005:8080"
      - "6065:8081"
    volumes:
      #- ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro # for windows
      #- ./certs/basket:/https:ro
      - ~/.aspnet/https:/https:ro #for Mac