version: '3.4'

services:
  catalogdb:
    image: postgres
  basketdb:
    image: postgres
  distributedcache:
    image: redis
  redisinsight:
    image: redis/redisinsight:latest
  
  catalog.api:
    platform: linux/amd64
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile

  basket.api:
    platform: linux/amd64
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket.API/Dockerfile
  
  discount.grpc:
    platform: linux/amd64
    image: ${DOCKER_REGISTRY-}discount.grpc
    build:
      context: .
      dockerfile: Services/Discount/Discount.Grpc/Dockerfile

volumes:
  postgres_basket:
  postgres_catalog:
  redisinsight_data:  
  

